name: Install

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    #- name: Install dependencies
      #run: |
        #sudo add-apt-repository ppa:mhier/libboost-latest
        #sudo apt-get update
        #sudo apt-get install libboost1.74 libboost1.74-dev -y

    - name: Export boost environment
      run: "export BOOST_ROOT=$BOOST_ROOT_1_72_0"

    - name: build and install library
      run: |
        cmake -H. -Bbuild -DCMAKE_BUILD_TYPE=Release
        sudo cmake --build build --target install
        rm -rf build

    - name: configure
      run: cmake -Htest -Bbuild -DTEST_INSTALLED_VERSION=1

    - name: build
      run: cmake --build build --config Debug -j4

    - name: test
      run: |
        cd build
        ctest --build-config Debug
